body {
    background-color: rgba(242, 216, 142, 1);
    padding: 0%;
    margin: 0%;
}

/* a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; } */

/* Navbar */
.navbar {
    background-color: rgba(0, 80, 32, 1);
    padding-bottom: 2rem;
    margin-bottom: 10rem;
}

.headerLogo {
    width: 25rem;
    position: absolute;
    left: 2rem;
    top: -0.75rem;
}

#navbarNavAltMarkup {
    padding: 0%;
    margin: 0%;
    display: flex;
    justify-content: end;
}

/* Change on hover color and color when clicked */
.nav-link {
    color: white;
    font-size: 1.5rem;
    margin-right: 4.5rem;
}

.nav-link:hover {
    color: white;
}
/* Navbar */

/* Start Order/View Full Menu Buttons */
#orderAndMenuDiv {
    padding-bottom: 3rem;
}

#orderAndMenuButton {
    color: white;
    text-decoration: none;
    background-color: rgba(0, 80, 32, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-left: 35%;
    margin-right: 35%;
}
/* Start Order/ View Full Menu Buttons */

/* Deal Ads */
#dealAds {
    padding-bottom: 3rem;
}

.dealsContainer {
    padding-bottom: 1.25rem;
}

#specialtyPizzaCol {
    background-image: url("../Assets/eddiesPizza.webp");
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pizzaTitleText {
    color: black;
    font-size: 3rem;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.12rem;
    -webkit-text-stroke-color: black;
    padding-bottom: 8.5rem;
}

.dealButton {
    padding-bottom: 0.5rem;
}

.dealButton:link { text-decoration: none; }
.dealButton:visited { text-decoration: none; }
.dealButton:hover { text-decoration: none; }
.dealButton:active { text-decoration: none; }

#pizzaButtonText {
    display: flex;
    justify-content: end;
    color: black;
    font-size: 2rem;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.09rem;
    -webkit-text-stroke-color: black;
    background-color: rgba(178, 61, 56, 1);
    padding-right: 2.5rem;
    margin-left: 65%;
    margin-right: 1%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 5px;
}

#comboDealsCol {
    background-image: url("../Assets/eddiesPizzadeal.jpg");
    margin-left: 7.5%;
    width: 42%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#mealDealTitleText {
    color: black;
    font-size: 2.8rem;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.12rem;
    -webkit-text-stroke-color: black;
    padding-bottom: 7rem;
}

#mealDealButtonText {
    display: flex;
    justify-content: end;
    color: black;
    font-size: 2rem;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 0.09rem;
    -webkit-text-stroke-color: black;
    background-color: rgba(178, 61, 56, 1);
    padding-right: 2.5rem;
    margin-left: 35%;
    margin-right: 1%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border-radius: 5px;
}

#otherDealCol {
    background-image: url("../Assets/eddies.png");
    margin-left: 1%;
    width: 42%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Deal Ads */

/* About Us */
#aboutUs {
    padding-bottom: 3rem;
}

#aboutUsContainer {
    padding-top: 3rem;
    padding-left: 0;
    padding-right: 0;
    background-color: rgba(0, 80, 32, 1);
}

#aboutUsTitleCol {
    display: flex;
    justify-content: center;
}

#aboutUsTitleText {
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    border-bottom: 0.6rem solid rgba(178, 61, 56, 1);
}

#aboutUsText {
    color: white;
    font-size: 2rem;
    line-height: 4rem;
}
/* About Us */

/* Call Us For */
#callUsHeader {
    text-align: center;
    padding-bottom: 3rem;
}

.callUsCard {
    background-color: rgba(0, 80, 32, 1);
    border: solid black 0.4rem;
    width: 60%;
}

.callUsCardTitle {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 0.6rem solid rgba(178, 61, 56, 1);
}
/* Call Us For */