/* .navbar {

    background-color: green;
} */

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .newPosition {


    justify-content: space-evenly;
    align-items: center;

   
   padding-left: 15%;

    
  }

  /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .headerLogo {
    width: 25rem;
    position: absolute;
    left: 2rem;
    top: -0.75rem;
}

.navbar {
  background-color: rgba(0, 80, 32, 1);
  padding-bottom: 2rem;
  margin-bottom: 10rem;
}

.headerLogo {
  width: 25rem;
  position: absolute;
  left: 2rem;
  top: -0.75rem;
}

#navbarNavAltMarkup {
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: end;
}

/* Change on hover color and color when clicked */
.nav-link {
  color: white;
  font-size: 1.5rem;
  margin-right: 4.5rem;
}

.nav-link:hover {
  color: white;
}
/* Navbar */

/* Start Order/View Full Menu Buttons */
#orderAndMenuDiv {
  padding-bottom: 3rem;
}

#orderAndMenuButton {
  color: white;
  text-decoration: none;
  background-color: rgba(0, 80, 32, 1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin-left: 35%;
  margin-right: 35%;
}

